<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<link rel="shortcut icon" type="image/x-icon" href="/images/red/redciudadana.png">
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<link rel="stylesheet" href="/css/calendar.css" type="text/css" />

	<!-- NonProfit Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/colors.php?color=C6C09C" type="text/css" /> <!-- Theme Color -->
	<!-- / -->

	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

		<!-- / -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    {% block head %}
    {% endblock %}

</head>

<body class="stretched">
	<!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img src="/images/newelements/01_LOGOTIPOS/WEB_PI-58.png" style="width:50%;height:auto;margin:auto" alt="" />
				</div>
			</div>
		</div>
	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm border-bottom-0" data-sticky-shrink="false">
			<div id="header-wrap">
				<div class="container my-2">
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" class="me-lg-5">
							<a href="/index.html" class="standard-logo" data-dark-logo="demos/business/images/logo-dark.png"><img src="/images/newelements/01_LOGOTIPOS/WEB_PI-58.png" alt="pi logo"></a>
							<a href="/index.html" class="retina-logo" data-dark-logo="demos/business/images/logo-dark@2x.png"><img src="/images/newelements/01_LOGOTIPOS/WEB_PI-58.png" alt="pi Logo"></a>
						</div><!-- #logo end -->

						<div class="header-misc">
							<!--Redes-->
							<div class="redes_header">
								<a class="menu-item menu-link" target="_blank" href=""><i class="fab fa-facebook-f" style="font-size: 20px;"></i> </a>
								<a class="menu-item menu-link" target="_blank" href=""><i class="fa-brands fa-x-twitter" style="font-size: 20px;"></i></a>
								<a class="menu-item menu-link" target="_blank" href=""><i class="fab fa-instagram" style="font-size: 20px;"></i></a>
								<a class="menu-item menu-link" target="_blank" href=""><i class="fab fa-youtube" style="font-size: 20px;"></i></a>
							</div>
							<a href="#" class="button button-rounded"><div>Donación</div></a>
						</div>

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows me-lg-auto">

							<ul class="menu-container align-self-start">
								<li class="menu-item"><span class="menu-bg col-auto align-self-start d-flex"></span></li>
								<li class="menu-item"><a class="menu-link" href="/index.html"><div>Inicio</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/nosotros/index.html"><div>Nosotros</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Programas</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="/desarrollo/index.html"><div>Desarrollo económico local</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/educacion/index.html"><div>Educación</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/salud/index.html"><div>Salud</div></a></li>
										<li class="menu-item"><a class="menu-link" href="/medamb/index.html"><div>Medio Ambiente</div></a></li>
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="/novedades/index.html"><div>Blogs</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/contacto/index.html"><div>Contacto</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->
	
		
		{% block content %}

        {% endblock %} 

		<!-- footer-area-start -->
        <footer>
            <div class="footer-middle-area pt-6 pb-3" style="background-image:url(/images/red/03.png);   ">
                <div class="container">
                    <div class="row" style="justify-content:space-between">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/images/newelements/01_LOGOTIPOS/WEB_PI-59.png" alt="red" style="width: 240px;"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
                            <div class="d-flex align-items-center justify-content-end">
                                <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img src="/images/red/fb-footer.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img src="/images/red/x-footer.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img src="/images/red/ig-footer.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.tiktok.com/@redxguate"><img src="/images/red/tk-footer.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div style="border-bottom: 1px solid #fff; width:100%; height:5px"></div>
                        </div>
                    </div>
                    <div class="footer-bottom-area py-4" style="border-top:none">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center text-white">
                                    <p>Asociación Civil Propuestas para la Innovación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->

	</div><!-- #wrapper end -->
	
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>
	<script src="/js/jquery.calendario.js"></script>
	<script src="/js/events.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

    {% block body_javascripts %}

    {% endblock %}

	<script>
      (function ($) {
        ("use strict");
        // Page loading
        $(window).on("load", function () {
          $("#preloader-active").delay(450).fadeOut("slow");
          $("body").delay(450).css({
            overflow: "visible"
          });
        });
      
      })(jQuery);
    </script>

	<script>
		jQuery(document).ready( function($){
			var elementParent = $('.floating-contact-wrap');
			$('.floating-contact-btn, .btn-contact').off( 'click' ).on( 'click', function(e) {
				elementParent.toggleClass('active', );
				e.preventDefault(e);
			});
		});

		var cal = $( '#calendar' ).calendario( {
			onDayClick : function( $el, $contentEl, dateProperties ) {

				for( var key in dateProperties ) {
					console.log( key + ' = ' + dateProperties[ key ] );
				}

			},
			caldata : canvasEvents
		}),
		$month = $( '#calendar-month' ).html( cal.getMonthName() ),
		$year = $( '#calendar-year' ).html( cal.getYear() );

		$( '#calendar-next' ).on( 'click', function() {
			cal.gotoNextMonth( updateMonthYear );
		} );
		$( '#calendar-prev' ).on( 'click', function() {
			cal.gotoPreviousMonth( updateMonthYear );
		} );
		$( '#calendar-current' ).on( 'click', function() {
			cal.gotoNow( updateMonthYear );
		} );

		function updateMonthYear() {
			$month.html( cal.getMonthName() );
			$year.html( cal.getYear() );
		};

	</script>

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	

</body>

</html>
