<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<link rel="stylesheet" href="/css/calendar.css" type="text/css" />

	<!-- NonProfit Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/colors.php?color=C6C09C" type="text/css" /> <!-- Theme Color -->
	<!-- / -->

	<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

    {% block head %}
    {% endblock %}

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="header-size-sm border-bottom-0" data-sticky-shrink="false">
			<div id="header-wrap">
				<div class="container my-2">
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" class="me-lg-5">
							<a href="/index.html" class="standard-logo" data-dark-logo="demos/business/images/logo-dark.png"><img src="/images/red/02_LOGOTIPOS/LOGOTIPOS-17.png" alt="pi logo"></a>
							<a href="/index.html" class="retina-logo" data-dark-logo="demos/business/images/logo-dark@2x.png"><img src="/images/red/02_LOGOTIPOS/LOGOTIPOS-17.png" alt="pi Logo"></a>
						</div><!-- #logo end -->

						<div class="header-misc">
							<a href="#" class="button button-rounded"><div>Donación</div></a>
						</div>

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows me-lg-auto">

							<ul class="menu-container align-self-start">
								<li class="menu-item"><span class="menu-bg col-auto align-self-start d-flex"></span></li>
								<li class="menu-item"><a class="menu-link" href="/index.html"><div>Inicio</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/nosotros/index.html"><div>Nosotros</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#"><div>Programas</div></a>
									<ul class="sub-menu-container">
										<li class="menu-item"><a class="menu-link" href="#"><div>Salúd</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Educación</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Seguridad Alimentaria</div></a></li>
										<li class="menu-item"><a class="menu-link" href="#"><div>Medio Ambiente</div></a></li>
									</ul>
								</li>
								<li class="menu-item"><a class="menu-link" href="/eventos/index.html"><div>Eventos</div></a></li>
								<li class="menu-item"><a class="menu-link btn-contact" href="/contacto/index.html"><div>Contacto</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->
	
		
		{% block content %}

        {% endblock %} 

		<!-- footer-area-start -->
        <footer>
            <div class="footer-middle-area pt-6 pb-3" style="background-image:url(/images/red/03.png);   ">
                <div class="container">
                    <div class="row" style="justify-content:space-between">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/images/red/LOGO-RED_BLANCO.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
                            <div class="d-flex align-items-center justify-content-end">
                                <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img src="/images/red/REDES-27.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img src="/images/red/REDES-28.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img src="/images/red/REDES-29.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img src="/images/red/REDES-30.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div style="border-bottom: 1px solid #fff; width:100%; height:5px"></div>
                        </div>
                    </div>
                    <div class="footer-bottom-area py-4" style="border-top:none">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center">
                                    <p><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->

	</div><!-- #wrapper end -->
	
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>
	<script src="/js/jquery.calendario.js"></script>
	<script src="/js/events.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

    {% block body_javascripts %}

    {% endblock %}

	<script>
		jQuery(document).ready( function($){
			var elementParent = $('.floating-contact-wrap');
			$('.floating-contact-btn, .btn-contact').off( 'click' ).on( 'click', function(e) {
				elementParent.toggleClass('active', );
				e.preventDefault(e);
			});
		});

		var cal = $( '#calendar' ).calendario( {
			onDayClick : function( $el, $contentEl, dateProperties ) {

				for( var key in dateProperties ) {
					console.log( key + ' = ' + dateProperties[ key ] );
				}

			},
			caldata : canvasEvents
		}),
		$month = $( '#calendar-month' ).html( cal.getMonthName() ),
		$year = $( '#calendar-year' ).html( cal.getYear() );

		$( '#calendar-next' ).on( 'click', function() {
			cal.gotoNextMonth( updateMonthYear );
		} );
		$( '#calendar-prev' ).on( 'click', function() {
			cal.gotoPreviousMonth( updateMonthYear );
		} );
		$( '#calendar-current' ).on( 'click', function() {
			cal.gotoNow( updateMonthYear );
		} );

		function updateMonthYear() {
			$month.html( cal.getMonthName() );
			$year.html( cal.getYear() );
		};

	</script>

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</body>

</html>
