---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Propuestas para la Innovación | Red Ciudadana</title>

{% endblock %}

{% block content %}
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element dark swiper_wrapper slider-parallax min-vh-75">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption">
									<div class="text-center">
										<h3 class="nott" data-animate="fadeInUp">Transformamos Retos en Soluciones</h3>
										<h4 class="nott" data-animate="fadeInUp">Innovación sostenible para un futuro inclusivo.</h4>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('/images/red/04_BANNERS/BANNERS_PI-41.png') no-repeat center center; background-size: cover;"></div>
						</div>

					</div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-4" style="overflow: visible">

				<svg viewBox="0 0 1382 58" width="100%" height="60" preserveAspectRatio="none" style="position: absolute; top: -58px; left:0; z-index: 1"><path style="fill:#FFF;" d="M1.52.62s802.13,127,1380,0v56H.51Z"/></svg>

				<div class="container">

					<div class="slider-feature w-100">
						<div class="row justify-content-center">
							<div class="col-md-3 px-1">
								<a href="/desarrollo/index.html" class="card cardhover center border-start-0 border-end-0 border-top-0 border-bottom border-bottom shadow py-3 rounded-0 fw-semibold text-uppercase ls1">
									<div class="card-body">
										<img src="/images/newelements/02_ICONOS/WEB_PI-50.png" style="width:70px;margin:0 10px">
										<p>Desarrollo económico local</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 px-1">
								<a href="/educacion/index.html" class="card cardhover center border-start-0 border-end-0 border-top-0 border-bottom border-bottom shadow py-3 rounded-0 fw-semibold text-uppercase ls1">
									<div class="card-body">
										<img src="/images/newelements/02_ICONOS/WEB_PI-51.png" style="width:70px;margin:0 10px">
										<p>Educación</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 px-1">
								<a href="/salud/index.html" class="card cardhover center border-start-0 border-end-0 border-top-0 border-bottom border-bottom shadow py-3 rounded-0 fw-semibold text-uppercase ls1">
									<div class="card-body">
										<img src="/images/newelements/02_ICONOS/WEB_PI-52.png" style="width:70px;margin:0 10px">
										<p>Salud</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 px-1">
								<a href="/medamb/index.html" class="card cardhover center border-start-0 border-end-0 border-top-0 border-bottom border-bottom shadow py-3 rounded-0 fw-semibold text-uppercase ls1">
									<div class="card-body">
										<img src="/images/newelements/02_ICONOS/WEB_PI-53.png" style="width:70px;margin:0 10px">
										<p>Medio Ambiente</p>
									</div>
								</a>
							</div>
						</div>
					</div>

				</div>

				<div class="section mt-3 mb-0 pb-0" style="background: #FFF no-repeat 100% 50% / auto 100%;">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-0">
									<h2 class="mb-0 nott yellow">¿Qué es Propuestas para la Innovación? </h2>
								</div>
								<div class="svg-line mb-0">
									<img src="/images/newelements/03_OTROS ELEMENTOS/WEB_PI-64.png" alt="svg divider" height="20">
								</div>
								<p>Propuestas para la Innovación es una organización comprometida con el desarrollo sostenible de Guatemala, alineada con los Objetivos de Desarrollo Sostenible (ODS). Nuestra misión es mejorar la calidad de vida de las comunidades vulnerables a través de soluciones innovadoras en salud, educación, medio ambiente y desarrollo económico. Impulsamos la colaboración, la transparencia y la adaptabilidad para construir un futuro equitativo y sostenible.</p>
							</div>
						</div>

					</div>
				</div>

				<div class="section mt-3 mb-0" style="background: #24416b no-repeat 100% 50% / auto 100%;">
					<div class="container">
						<div class="row justify-content-center my-4">
							<div class="col-md-7 text-center">
								<div class="heading-block border-bottom-0 mb-0">
									<h3 class="mb-0 nott text-white">Programas</h3>
								</div>
								<div class="svg-line mb-0">
									<img src="/images/newelements/03_OTROS ELEMENTOS/WEB_PI-65.png" alt="svg divider" height="20">
								</div>
								<p class="text-white">Innovación que conecta personas, comunidades y soluciones.</p>
							</div>
						</div>

						<div class="row my-4">

							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 mb-4 d-flex align-items-center" style="padding:0 25px">
								<div class="row bg-white" style="padding: 10px;">
									<div class="col-lg-3 col-sm-12 bg-grey"></div>
									<div class="col-lg-9 col-sm-12 p-2">
										<h5>Lorem ipsum dolor</h5>
										<p class="p-box m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt.</p>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				

				<div class="section bg-transparent mt-0 mb-4 pt-0">
					<div class="container clearfix">
						<div class="row justify-content-center" style="margin-top: 100px">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-0">
									<h2 class="mb-0 nott">Nuestros últimos proyectos</h2>
								</div>
								<div class="svg-line bottommargin-sm">
									<img src="/images/newelements/03_OTROS ELEMENTOS/WEB_PI-65.png" alt="svg divider" height="20">
								</div>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam, quidem temporibus, dolor quod voluptatum perferendis ullam. Odio sequi at dolore consequatur ad, odit expedita tenetur.</p> -->
							</div>
						</div>
					</div>

					<div class="owl-carousel owl-carousel-full image-carousel carousel-widget topmargin-sm charity-card" data-stage-padding="20" data-margin="10" data-center="true" data-loop="true" data-nav="true" data-autoplay="500000" data-speed="400" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="2" data-items-lg="3" data-items-xl="4">

						<div class="oc-item text-start">
							<img src="/images/red/03_IMAGENES/IMAGENES_PI-22.png" alt="Image 1" class="rounded">
							<div class="desc">
								<div class="d-flex">
									<img src="/images/red/01_ICONOS/ICONOS_PI-37.png" style="width:30px;height:30px;margin:0 10px">
									<p>Salud</p>
								</div>
								<div>
								<h4>Salud Accesible</h4>
								<p>Plataforma digital de monitoreo de salud basada en datos abiertos, enfocada en la prevención y la equidad.<p>
								</div>
								<a href="/segali/index.html" class="button">Más Info</a>
							</div>
						</div>

						<div class="oc-item text-start">
							<img src="/images/red/03_IMAGENES/IMAGENES_PI-23.png" alt="Image 1" class="rounded">
							<div class="desc">
								<div class="d-flex">
									<img src="/images/red/01_ICONOS/ICONOS_PI-37.png" style="width:30px;height:30px;margin:0 10px">
									<p>Educación</p>
								</div>
								<div>
								<h4>Transformación Educativa</h4>
								<p>Capacitación docente en metodologías inclusivas y uso de datos para mejorar el rendimiento escolar.<p>
								</div>
								<a href="/segali/index.html" class="button">Más Info</a>
							</div>
						</div>

						<div class="oc-item text-start">
							<img src="/images/red/03_IMAGENES/IMAGENES_PI-24.png" alt="Image 1" class="rounded">
							<div class="desc">
								<div class="d-flex">
									<img src="/images/red/01_ICONOS/ICONOS_PI-37.png" style="width:30px;height:30px;margin:0 10px">
									<p>Apoyo</p>
								</div>
								<div>
								<h4>Impulsa PyME</h4>
								<p>Plataforma de formación y digitalización para emprendedores y pequeñas empresas.<p>
								</div>
								<a href="/segali/index.html" class="button">Más Info</a>
							</div>
						</div>

						<div class="oc-item text-start">
							<img src="/images/red/03_IMAGENES/IMAGENES_PI-25.png" alt="Image 1" class="rounded">
						</div>

						<div class="oc-item text-start">
							<img src="/images/red/03_IMAGENES/IMAGENES_PI-26.png" alt="Image 1" class="rounded">
						</div>

					</div>

				</div>

				<div class="clear"></div>

				<div class="container-fluid my-5 clearfix">
					<div class="d-flex flex-column align-items-center justify-content-center center counter-section position-relative " >
						<div class="mx-auto center" style="max-width: 1000px">
							<h3>Nuestras Métricas</h3>
							<div class="svg-line bottommargin-sm">
								<img src="/images/newelements/03_OTROS ELEMENTOS/WEB_PI-65.png" alt="svg divider" height="20">
							</div>
						</div>

						<div class="row align-items-stretch m-0 w-100 clearfix">

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/newelements/02_ICONOS/WEB_PI-54.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="4" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0">Programas</h5>
								<div style="width: 70px; height: 2px; background-color: #265287; margin: auto;"></div>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/newelements/02_ICONOS/WEB_PI-55.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="8" data-refresh-interval="50" data-speed="2200" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0">Proyectos</h5>
								<div style="width: 70px; height: 2px; background-color: #5db2e2; margin: auto;"></div>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/newelements/02_ICONOS/WEB_PI-56.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="6" data-refresh-interval="25" data-speed="2300" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0">Herramientas</h5>
								<div style="width: 85px; height: 2px; background-color: #75cff2; margin: auto;"></div>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/newelements/02_ICONOS/WEB_PI-57.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="200" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0">Personas Impactadas</h5>
								<div style="width: 140px; height: 2px; background-color: #6cd8d8; margin: auto;"></div>
							</div>

						</div>
					</div>
				</div>

				<div class="clear"></div>


				<div class="section bg-transparent" >
					<div class="container clearfix">
						<div class="row justify-content-center">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-4">
									<h2 class="mb-4 nott">Nuestros Aliados</h2>
								</div>
								<div class="svg-line bottommargin-sm">
									<img src="/images/newelements/03_OTROS ELEMENTOS/WEB_PI-65.png" alt="svg divider" height="20">
								</div>
								
							</div>
							<div class="clear"></div>
							<div class="container">
								<ul class="row justify-content-center">
									<div class="col-md-3"><a href="#"><img src="/images/newelements/01_LOGOTIPOS/LOGO-RED_NEGRO.png" alt="Aliado"></a></div>
									<!-- <div class="col-md-3"><a href="#"><img src="/images/clients/2.png" alt="Aliado"></a></div>
									<div class="col-md-3"><a href="#"><img src="/images/clients/3.png" alt="Aliado"></a></div>
									<div class="col-md-3"><a href="#"><img src="/images/clients/4.png" alt="Aliado"></a></div> -->
								</ul>
							</div>
							
						</div>
					</div>
				</div>

				<div class="container mb-6">
					<div class="w-100 position-relative">
						<div class="donor-img d-flex align-items-center rounded parallax mx-auto shadow-sm w-100" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -50px;" style="height: 500px; background: url('/images/red/04_BANNERs/BANNERS_PI-41.png') no-repeat center center / cover"></div>
						<div class="card bg-white border-0 center py-sm-4 px-sm-5 p-2 shadow-sm" style="position: absolute; top: 50%; right: 80px; transform: translateY(-50%);">
							<div class="card-body-2">
								<h4>Construyamos Juntos el Futuro </h4>
								<!-- <p>Lorem ipsum dolor sit amet, consecuteur ad</p> -->
								<a href="#" class="button">Plan Estratégico 2024-2028</a>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>

			</div>
		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}