---
permalink: "/nosotros/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Propuestas para la Innovación | Red Ciudadana</title>

{% endblock %}

{% block content %}
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element dark swiper_wrapper slider-parallax min-vh-75">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
                                <div class="slider-caption">
									<div class="text-center">
										<h4 class="nott" data-animate="fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt, vitae sollicitudin quam bibendum.</h4>
                                        <p style="font-size:14px">Duis commodo purus vel neque pellentesque, ac convallis lacus dignissim. Quisque vel nisi in velit commodo convallis. Sed sed lacus et quam varius commodo vel sit amet lacus. Donec suscipit dapibus ipsum, sed sagittis nibh commodo non. Fusce vel neque malesuada, bibendum mauris nec, molestie dui. Nulla consequat eros vel quam consequat, vel facilisis ante blandit. Curabitur et ex sit amet justo ultrices mollis. Aliquam erat volutpat.</p>
										<a href="#" data-animate="fadeInUp" data-delay="400" class="button button-rounded button-large shadow nott ls0 ms-0 mt-4">Know More</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url('/images/red/04_BANNERS/BANNERS_PI-29.png') no-repeat center center; background-size: cover;"></div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap py-0" style="overflow: visible">

                <div class="clear"></div>

				<div class="container-fluid my-5 clearfix">
					<div class="d-flex flex-column align-items-center justify-content-center center counter-section position-relative py-5" >
						<div class="mx-auto center" style="max-width: 1000px">
							<h3>Nuestras Métricas</h3>
							<div class="svg-line bottommargin-sm">
								<img src="/images/red/01_ICONOS/ICONOS_PI_LINEA.png" alt="svg divider" height="20">
							</div>
						</div>

						<div class="row align-items-stretch m-0 w-100 clearfix">

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/red/01_ICONOS/ICONOS_PI-09.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="2000" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0"><u>Programas</u></h5>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/red/01_ICONOS/ICONOS_PI-10.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="5300" data-refresh-interval="50" data-speed="2200" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0"><u>Proyectos</u></h5>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/red/01_ICONOS/ICONOS_PI-11.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="13000" data-refresh-interval="25" data-speed="2300" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0"><u>Herramientas</u></h5>
							</div>

							<div class="col-lg-3 col-sm-6 center mt-5">
								<img src="/images/red/01_ICONOS/ICONOS_PI-12.png" alt="Counter Icon" width="70" class="mb-4">
								<div class="counter font-secondary"><span data-from="0" data-to="400" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
								<h5 class="nott ls0 mt-0"><u>Personas Impactadas</u></h5>
							</div>

						</div>
					</div>
				</div>

				<svg viewBox="0 0 1382 58" width="100%" height="60" preserveAspectRatio="none" style="position: absolute; top: -58px; left:0; z-index: 1"><path style="fill:#FFF;" d="M1.52.62s802.13,127,1380,0v56H.51Z"/></svg>

				<div class="container">
                    <div class="row">

                        <div class="col-lg-9 col-sm-12">
                            <h3>Programas</h3>
							<div class="svg-line bottommargin-sm">
								<img src="/images/red/01_ICONOS/ICONOS_PI_LINEA.png" alt="svg divider" height="20">
							</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam, quidem temporibus, dolor quod voluptatum perferendis ullam. Odio sequi at dolore consequatur ad, odit expedita tenetur.</p>

                            <div class="row">

                                <div class="col-lg-6 col-sm-12 d-flex">
                                    <img src="/images/red/01_ICONOS/ICONOS_PI-36.png" style="width:50px;height:50px;margin:0 20px">
                                    <div>
                                        <h4>Educación</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 d-flex">
                                    <img src="/images/red/01_ICONOS/ICONOS_PI-37.png" style="width:50px;height:50px;margin:0 20px">
                                    <div>
                                        <h4>Seguridad Alimentaria</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 d-flex">
                                    <img src="/images/red/01_ICONOS/ICONOS_PI-38.png" style="width:50px;height:50px;margin:0 20px">
                                    <div>
                                        <h4>Salud</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-12 d-flex">
                                    <img src="/images/red/01_ICONOS/ICONOS_PI-39.png" style="width:50px;height:50px;margin:0 20px">
                                    <div>
                                        <h4>Medio Ambiente</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <h3>Videos</h3>
							<div class="svg-line bottommargin-sm">
								<img src="/images/red/01_ICONOS/ICONOS_PI_LINEA.png" alt="svg divider" height="20">
							</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam.</p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z_r7N0ThnGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>

                    </div>


				</div>

                <div class="section" style="background-color:#1D1D1B">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="text-white">Programas</h3>
                                <div class="svg-line bottommargin-sm">
                                    <img src="/images/red/01_ICONOS/ICONOS_PI_LINEA.png" alt="svg divider" height="20">
                                </div>
                                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam, quidem temporibus, dolor quod voluptatum perferendis ullam. Odio sequi at dolore consequatur ad, odit expedita tenetur.</p>
                                <a href="#" class="button button-rounded">Únete</a>
                            </div>
                        </div>

                    </div>
                </div>

				<div class="clear"></div>


				<div class="section bg-transparent" style="padding: 80px 0">
					<div class="container clearfix">
						<div class="row justify-content-center">
							<div class="col-md-7 center">
								<div class="heading-block border-bottom-0 mb-4">
									<h2 class="mb-4 nott">Únete a Nosotros</h2>
								</div>
								<div class="svg-line bottommargin-sm">
									<img src="/images/red/01_ICONOS/ICONOS_PI_LINEA.png" alt="svg divider" height="20">
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quasi, dolorum blanditiis eius laboriosam, quidem temporibus, dolor quod voluptatum perferendis ullam. Odio sequi at dolore consequatur ad, odit expedita tenetur.</p>
							</div>
							<div class="clear"></div>
							<div class="container mt-4">
								<ul class="row">
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/1.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/2.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/3.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/4.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/1.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/2.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/3.png" alt="Aliado"></a></div>
									<div class="col-md-3 mb-4"><a href="#"><img src="/images/clients/4.png" alt="Aliado"></a></div>
								</ul>
							</div>
							
						</div>
					</div>
				</div>

			</div>
		</section><!-- #content end -->

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap dark clearfix" style="background: radial-gradient(rgba(0,45,64,.5), rgba(0,45,64,.1), rgba(0,45,64,.5)), url('/images/red/04_BANNERS/BANNERS_PI-45.png') repeat center center / cover;  padding: 150px 0">
            <div class="mx-auto center" style="max-width: 700px;">
                <img src="/images/red/01_ICONOS/ICONOS_PI-37.png" class="mb-4">
                <h3 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend nisl sit amet dolor tincidunt, vitae sollicitudin quam bibendum.</h3>
                <a href="demo-nonprofit-causes-single.html" class="button button-red2 button-rounded button-xlarge shadow nott ls0 ms-0 mt-5">Donate Now</a>
            </div>
        </div>

{% endblock %}

{% block body_javascripts %}
	
{% endblock %}